			<!-- HEADER -->
			<div id="header">
				<!-- wrapper-header -->
				<div class="wrapper">
					<a href="/"><img id="logo" src="{{ STATIC_URL }}img/logo.png" alt="Daniel Chrome" /></a>
					<!-- search -->
					<div class="top-search">
						<form  method="get" id="searchform" action="#">
							<div>
								<input type="text" value="Search..." name="s" id="s" onfocus="defaultInput(this)" onblur="clearInput(this)" />
								<input type="submit" id="searchsubmit" value=" " />
							</div>
						</form>
					</div>
					<!-- ENDS search -->
				</div>
				<!-- ENDS wrapper-header -->					
			</div>
			<!-- ENDS HEADER -->
			
			
			<!-- Menu -->
			<div id="menu">
			
			
			
				<!-- ENDS menu-holder -->
				<div id="menu-holder">
					<!-- wrapper-menu -->
					<div class="wrapper">
						<!-- Navigation -->
						<ul id="nav" class="sf-menu">
							<li><a href="/">Principal<span class="subheader">Sinta-se em casa</span></a></li>
							<li><a href="/features">Diversos<span class="subheader">Mais informações</span></a>
								<ul>
									
									<li><a href="/features-columns"><span> Columns layout</span></a></li>
									<li><a href="/features-accordion"><span> Accordion</span></a></li>
									<li><a href="/features-toggle"><span> Toggle box</span></a></li>
									<li><a href="/features-tabs"><span> Tabs</span></a></li>
									<li><a href="/features-infobox"><span> Text box</span></a></li>
									<li><a href="/features-monobox"><span> Icons</span></a></li>
								</ul>
							</li>
							<li><a href="/blog">Blog<span class="subheader">Novidades</span></a></li>
							<li><a href="/portfolio">Portifolio <span class="subheader">Veja meus trabalhos</span></a></li>
							<li><a href="/gallery">Galeria<span class="subheader">Algumas imagens</span></a>
								<ul>
									<li><a href="/gallery"><span> Four columns</span></a></li>
									<li><a href="/gallery-3"><span> Three columns </span></a></li>
									<li><a href="/gallery-2"><span> Two columns </span></a></li>
									<li><a href="/video-gallery"><span> Video gallery </span></a></li>
								</ul>
							</li>
							<li><a href="/contact">Contato<span class="subheader">Entre em conato</span></a></li>
						</ul>
						<!-- Navigation -->
					</div>
					<!-- wrapper-menu -->
				</div>
				<!-- ENDS menu-holder -->
			</div>
			<!-- ENDS Menu -->