<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{post.titulo}}</title>
		
		{% include "postagens/scripts.html" %}
	</head>
	
	<body>
			{% include "postagens/header.html" %}
						
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- content -->
					<div id="content">
						
						<!-- title -->
						<div id="page-title">
							<span class="title">{{post.titulo}}</span>
						</div>
						<!-- ENDS title -->
						
						<!-- Posts -->
						<div id="posts" class="single">
						
							<!-- post -->
							<div class="post">
							
								<!-- shadow -->
								<div class="thumb-shadow">
								
									<!-- post-thumb -->
									<div class="post-thumbnail">
										<img src={{ MEDIA_URL }}{{post.imagem}}  alt={{post.titulo}} />
									</div>
									<!-- ENDS post-thumb -->
									<div>
										<p>{{post.conteudo}}</p>
			
									</div>
								</div>
								<!-- ENDS shadow -->
													
								<!-- meta -->
								<ul class="meta">
									<li><strong>Publicado em</strong> {{post.datapublicacao}} </li>
									<li><strong>Por</strong> <a href="#">{{post.usuario}}</a></li> 
									<li> <strong>Posted in</strong> 
										<div class="meta-tags">
											<a href="#">Webdesign</a>
											<a href="#">Code</a>
											<a href="#">Photo</a>
											<a href="#">Blue</a>
											<a href="#">Computers</a>
											<a href="#">Sites</a>
										</div>
									</li>
								</ul>
								<!-- ENDS meta -->	
								
							</div>
							<!-- ENDS post -->
							<!-- Comments-Block -->
							<div id="comments-block">
								<div class="n-comments">{{comentarios.count}}</div> <div class="n-comments-text">
								{% if comentarios.count > 1 %}
									comentarios
								{% else %}
								    comentario
								{% endif %}
								</div>				
								<!-- comments list -->
								<ul class="commentlist">
									{%for coment in comentarios%}
									<li class="comment" >
										<div  class="comment-body">
											<div class="comment-author vcard">
												<img alt='' src='{{STATIC_URL}}img/dummies/avatar.jpg' class='avatar avatar-60 photo' height='60' width='60' />
												<cite class="fn">{{coment.nome}}</cite><span class="says"> disse:</span>
											</div>
							
											<div class="comment-meta commentmetadata">
												<a href="#">{{coment.datacomentario}}</a>
											</div>
							
											<p>{{coment.comentario}}</p>
							
											<div class="reply">
												<a class='comment-reply-link' href='/archives/196?replytocom=18#respond' onclick='return addComment.moveForm("div-comment-18", "18", "respond", "196")'>Reply</a>
											</div>
										</div>
									</li>
									{% endfor %}
								</ul>
								<!-- ENDS comments list -->
				
					
								<!-- Navi -->
								<div class="comments-pagination">
								<a class='prev page-numbers' href='http://localhost:8888/archives/586/comment-page-1#comments'>&laquo; Previous</a>
								<a class='page-numbers' href='http://localhost:8888/archives/586/comment-page-1#comments'>1</a>
								<span class='page-numbers current'>2</span>	</div>
								<!-- ENDS Navi -->
				
								<!-- comments form -->
								<div id="respond">
									<div class="leave-comment">
										<h2>Leave a Reply</h2>	
										<!-- form -->
										<form action="#" method="post" id="commentform">
											<fieldset>
												<div><label >NAME </label>
												<input type="text" name="author" id="author" value="" tabindex="1" /></div>
												<div><label >EMAIL (Will not be published) </label>
												<input type="text" name="email" id="email" value="" tabindex="2" /></div>
												<div><label >WEBSITE</label><input type="text" name="url" id="url" value="" tabindex="3" /></div>
												<div class="admin-form">
													<div>
														<label >COMMENTS</label>
														<textarea  name="comment" id="comment" rows="10" tabindex="4"></textarea>
													</div>
													<div><input type="submit" name="submit" id="submit" tabindex="5" value="SEND" /></div>
													<div><input type="hidden" name="comment_post_ID" value="586" /></div>
												</div>
												<input type='hidden' name='comment_post_ID' value='586' id='comment_post_ID' />
												<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
											</fieldset>
										</form>
										<!-- ENDS form -->
									</div>
								</div>
								<!-- ENDS comments form -->	
							</div>
							<!-- ENDS Comments-block -->		
							
						</div>
						<!-- ENDS Posts -->	
						
						
						<!-- sidebar -->
						<ul id="sidebar">
							<!-- init sidebar -->
							<li>
								<h6>Categories</h6>		
								<ul>
									<li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
									<li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
									<li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
									<li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
								</ul>
							</li>	
							
							<li>
								<h6>Archives</h6>		
								<ul>
									<li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
									<li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
									<li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
									<li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
								</ul>
							</li>
							<!-- ENDS init sidebar -->
						</ul>
						<!-- ENDS sidebar -->
													
		
					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			
			<!-- Twitter -->
			<div id="twitter">
				<div class="wrapper">
					<a href="#" id="prev-tweet"></a>
					<a href="#" id="next-tweet"></a>
					<img id="bird" src="img/bird.png" alt="Tweets" />
					<div id="tweets">
						<ul class="tweet_list"></ul>
					</div>
				</div>
			</div>
			<!-- ENDS Twitter -->

			
			<!-- FOOTER -->
			<div id="footer">
				<!-- wrapper-footer -->
				<div class="wrapper">
					<!-- footer-cols -->
					<ul id="footer-cols">
						<li class="col">
							<h6>Pages</h6>
							<ul>
								<li class="page_item"><a href="index.html">Home</a></li>
								<li class="page_item"><a href="features.html">Features</a></li>
								<li class="page_item"><a href="blog.html">Blog</a></li>
								<li class="page_item"><a href="portfolio.html">Portfolio</a></li>
								<li class="page_item"><a href="gallery.html">Gallery</a></li>
								<li class="page_item"><a href="contact.html">Contact</a></li>
							</ul>
						</li>
						
						<li class="col">
							<h6>Categories</h6>
							<ul>
								<li><a href="#">Webdesign projects senectus</a></li>
								<li><a href="#/">Wordpress projects senectus</a></li>
								<li><a href="#">Vestibulum tortor quam</a></li>
								<li><a href="#">Code projects amet quam egestas</a></li>
								<li><a href="#">Web design projects senectus</a></li>
								<li><a href="#/">Marketplace projects</a></li>
								<li><a href="#">Writting projects senectus</a></li>
								<li><a href="#">Drawings projects fames Aenean</a></li>
								<li><a href="#/">Wordpress projects Aenean ultricies</a></li>
							</ul>
						</li>
						<li class="col">
							<h6>About the theme</h6>
							Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Cursus faucibus, tortor neque egestas augue, eu vulputate magna eros.
						</li>
						
					</ul>
					<!-- ENDS footer-cols -->
				</div>
				<!-- ENDS wrapper-footer -->
			</div>
			<!-- ENDS FOOTER -->
		
		
			<!-- Bottom -->
			<div id="bottom">
				<!-- wrapper-bottom -->
				<div class="wrapper">
					<div id="bottom-text">2011 Nova all rights reserved. <a href="http://www.luiszuno.com"> Luiszuno.com</a> </div>
					<!-- Social -->
					<ul class="social ">
						<li><a href="http://www.facebook.com" class="poshytip  facebook" title="Become a fan"></a></li>
						<li><a href="http://www.twitter.com" class="poshytip twitter" title="Follow our tweets"></a></li>
						<li><a href="http://www.dribbble.com" class="poshytip dribbble" title="View our work"></a></li>
						<li><a href="http://www.addthis.com" class="poshytip addthis" title="Tell everybody"></a></li>
						<li><a href="http://www.vimeo.com" class="poshytip vimeo" title="View our videos"></a></li>
						<li><a href="http://www.youtube.com" class="poshytip youtube" title="View our videos"></a></li>
					</ul>
					<!-- ENDS Social -->
					<div id="to-top" class="poshytip" title="To top"></div>
				</div>
				<!-- ENDS wrapper-bottom -->
			</div>
			<!-- ENDS Bottom -->
	
	</body>
</html>